@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

button{
    width: 150px;
    height: 40px;
    color: #E5E7EB;
    font-weight: 900;
    font-size: 15px;
    background-color: #3882F6;
    border-radius: 10px;
    border: 1px;
}

ul{
    list-style-type: none;
    gap: 50px;
    margin-top: 50px;
}

li{
    text-align: center;
    width: 150px;
    color:#1F2937;
}

img{
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}

nav{
    gap: 15px;
}

body, .top-container, .hero-content, .left-hero-container, .right-hero-container, .info-container, .quote-content, .quote-container{
    display: flex;
    flex-direction: column;
}

nav, ul, .header, .hero-container, .call-to-action-container, .text-container, .footer{
    display: flex;
    flex-direction: row;
}

.left-hero-container, .right-hero-container{
    gap: 100px;
}

.call-to-action-container{
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.text-container{
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 80%;
    padding: 50px;
    border-radius: 10px;
}

.call-to-action{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.call-to-action-subtext{
    font-size: 15px;
    color: #E5E7EB;
    font-weight: 100;
}

.call-to-action-button{
    border: 3px solid #E5E7EB;
}

.right-hero-container{
    align-items: flex-end;
}

.hero-container{
    background-color: #1f2937;
    padding-top: 30px;
    padding-bottom: 100px;
}

.logo{
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: #F9FAf8;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container{
    justify-content: space-evenly;
}

.hero-content{
    gap: 10px;
    width: 400px;
}

.image-placeholder{
    height: 240px;
    width: 500px;
}

.info-container{
    align-items: center;
    margin-top: 50px;
}

.quote-content{
    background-color: #EFE7EB;
    padding: 70px;
    align-items: center;
    margin-top: 50px;
}

.quote{
    font-size: 36px;
    color: #1F2937;
    width: 600px;
    font-style: italic;
}

.author{
    color: #1F2937;
    font-weight: 300;
    align-self: flex-end;
    font-size: 24px;
}

.footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 13px;
    padding: 30px;
    justify-content: center;
    align-items: center;
}